.basket {
  height: 100px;
  margin-inline: -64px;
  margin-bottom: -32px;
  background: #FFF;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 64px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  /* width: 100%; */

  .remove-btn {
    button {
      color: #FE7701;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1px;
      border: 0;
      background: inherit;

    }
    .border-bottom {
      height: 3px;
      width: 4rem;
      margin-inline: auto;
      background-color: #FE7701;
    }
  }
  .order {
    margin-left: auto;
    margin-right: 15px;
    h4 {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 700;
    }
    span:nth-child(2) {
      background: #f1d4d4;
      padding: 3px;
      border-radius: 4px;
      margin-right: 15px;
      color: #f5ab66;
    }
    span:nth-child(3) {
      color: #FE7701;
    }
  }

 .confirm-btn {
    button {
      outline:none;
      height: 40px;
      text-align: center;
      width: 80px;
      border-radius:40px;
      background: #fff;
      border: 2px solid #FE7701;
      color:#FE7701;
      letter-spacing:1px;
      text-shadow: 0;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        color:white;
        background: #FE7701;
      }
      &:active {
        letter-spacing: 2px ;
      }
      &:after {
        content:"Onayla";
      }
    }
    .onclic {
      width: 40px;
      border-color:#bbbbbb;
      border-width:3px;
      font-size:0;
      border-left-color:#FE7701;
      animation: rotating 2s 0.25s linear infinite;
    
      &:after {
        content:"";
      }
      &:hover {
        color:#FE7701;
        background: white;
      }
    }
    .validate {
      font-size:13px;
      color: white;
      background: green;
      border: none;
      &:after {
        font-family:'FontAwesome';
        content:"\f00c";
      }
    }
  } 
   
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}